# neovim linter crap
serveur/ft_irc.h
serveur/src/ft_irc.h
serveur/linked_list.h
serveur/src/linked_list.h
client/src/linked_list.h
client/src/client.h

# objs
*.o

# libs
*.a

# bin
client/client
serveur/serveur
